@page "/forecast/create"
@using System.Text.Json
@using System.Text.Json.Serialization
@using WeatherBA.Shared.Dtos
@using WeatherBA.Shared.Responses
@inject HttpClient Http
@inject NavigationManager NavManager


<PageTitle>Create forecast</PageTitle>

<h1>Create forecast</h1>

<ForecastForm 
    ButtonText="Create" 
    forecast="@forecast"
    response="@response"
    OnValidSubmit="@SaveForecast" />


@code {
    private ForecastDto? forecast = new ForecastDto();
    private CreateForecastCommandResponse? response = null;

    protected override async Task OnInitializedAsync()
    {    }

    protected async Task SaveForecast()
    {
        HttpResponseMessage frame =  await Http.PostAsJsonAsync("api/Forecast", forecast);
        response = await frame.Content.ReadFromJsonAsync<CreateForecastCommandResponse>();
        
        if(response.Success == true)
             NavManager.NavigateTo("/");   
    }
}