@page "/forecast/update/{Id}"
@using System.Text.Json
@using System.Text.Json.Serialization
@using WeatherBA.Shared.Dtos
@using WeatherBA.Shared.Responses
@inject HttpClient Http
@inject NavigationManager NavManager


<PageTitle>Update forecast</PageTitle>

<h1>Update forecast</h1>

<ForecastForm 
    ButtonText="Update" 
    forecast="@forecast"
    response="@response"
    OnValidSubmit="@SaveForecast" />


@code {
    [Parameter] public string Id { get; set; }
    private ForecastDto? forecast = new ForecastDto();
    private CreateForecastCommandResponse? response = null;

    protected override async Task OnInitializedAsync()
    {
        forecast =  await Http.GetFromJsonAsync<ForecastDto>("api/Forecast/" + Id);
    }

    protected async Task SaveForecast()
    {
        HttpResponseMessage frame =  await Http.PutAsJsonAsync("api/Forecast/" + Id, forecast);
        response = await frame.Content.ReadFromJsonAsync<CreateForecastCommandResponse>();
        
        if(response.Success == true)
             NavManager.NavigateTo("/forecast/" + Id);   
    }
}
